:root {
    --background-color: #3c4043;
    --header-list: #9aa9a6;
    --header-border: #203031;

    --blanco: white;
    --azul: #81b1b3;
}

/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* Estilos para el body */
body {
    font-family: sans-serif;
    background: linear-gradient(var(--background-color), var(--header-border));
    display: grid;
    place-items: center;
    position: relative;
}

/* Estilos para la secci贸n principal */
.main-content {
    max-width: 900px;
    width: 100%;
    height: auto;
    margin: 1%;
    padding: 3%;
}

/* Estilos para el header y el menu de navegaci贸n */
header {
    padding: 10px;
}
header ul {
    display: flex;
    justify-content: space-between;
}
header ul li {
    list-style: none;
}
header ul li a {
    text-decoration: none;
    color: var(--blanco);
    position: relative;
}
header ul li a:hover {
    color: var(--blanco);
}
header ul li a::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background: var(--azul);
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
}
header ul li a:hover::after {
    transform: translateX(-50%) scaleX(1);
}
hr {
    color: var(--header-border);
}

/* Estilos sobre mi */
.sobre-mi {
    margin-top: 50px;
    margin-bottom: 50px;
}
.sobre-mi .presentacion {
    display: flex;
    align-items: center;
}
.sobre-mi .presentacion .imagen {
    max-width: 200px;
}
.sobre-mi .presentacion .imagen img {
    width: 100%;
    border-radius: 50%;
}
.sobre-mi .presentacion .nombre-disponibilidad {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    align-items: center;
}
.sobre-mi .presentacion .nombre-disponibilidad h3 {
    color: var(--blanco);
}
.sobre-mi .presentacion .nombre-disponibilidad h4 {
    font-weight: lighter;
    background: #203031;
    padding: 10px 32px;
    position: relative;
    border-radius: 20px;
    margin-top: 10px;
}
.sobre-mi .presentacion .nombre-disponibilidad h4 a {
    text-decoration: none;
    color: var(--blanco);
    transition: .3s ease;
}
.sobre-mi .presentacion .nombre-disponibilidad h4 a:hover {
    color: var(--azul);
}
.sobre-mi .presentacion .nombre-disponibilidad h4::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        45deg,
        var(--header-list), #608385, #3a5152, #203031, var(--header-list), #608385, #3a5152, #203031
    );
    background-size: 800%;
    border-radius: 10px;
    filter: blur(5px);
    animation: glowing 20s linear infinite;
}
@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}
.download-btn {
    border: none;
    background: var(--header-list);
    color: var(--background-color);
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px 16px;
    cursor: pointer;
    transition: .5s ease;
}
.download-btn:hover {
    background: var(--azul);
    color: var(--blanco);
}
.sobre-mi p {
    color: var(--header-list);
}

/* Secci贸n de proyectos */
.proyect-header {
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--header-list);
    width: 100%;
    margin-bottom: 20px;
    color: var(--blanco);
}
.proyectos, .certificados {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 32px;
}
.proyectos .card {
    margin-top: 20px;
    width: 100%;
}
.proyectos .card img {
    width: 100%;
    border-radius: 8px;
    height: auto;
}
.proyectos .card h4 {
    color: var(--header-list);
    font-weight: lighter;
    margin-top: 10px;
}
.proyectos .card a {
    text-decoration: none;
    color: var(--blanco);
    margin-top: 10px;
}
.proyectos .card a img {
    transition: .5s ease;
}
.proyectos .card a img:hover {
    transform: scale(1.1);
}
.proyectos .card .hab {
    margin: 10px 0px;
}
.proyectos .card .hab img {
    width: 25px;
}
.proyectos .card .hab img:nth-child(1) {
    background-color: rgb(252, 86, 26);
    border-radius: 10px;
}
.proyectos .card .hab img:nth-child(2) {
    background-color: rgb(92, 223, 228);
    border-radius: 10px;
}
.proyectos .card .hab img:nth-child(3) {
    background-color: yellow;
    border-radius: 10px;
}
.proyectos .card .hab img:nth-child(5) {
    background-color: white;
    border-radius: 10px;
}


/* Estilos para la secci贸n de habilidades */
.habilidades {
    display: grid;
    place-content: center;
    text-align: center;
    margin-top: 50px;
}
.habilidades h3 {
    color: var(--blanco);
    border-bottom: 1px solid var(--header-list);
}
.habilidades .images {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}
.habilidades .images img:nth-child(1) {
    width: 50px;
    background-color: rgb(252, 86, 26);
    border-radius: 10px;
}
.habilidades .images img:nth-child(2) {
    width: 50px;
    background-color: rgb(92, 223, 228);
    border-radius: 10px;
}
.habilidades .images img:nth-child(3) {
    width: 50px;
    background-color: yellow;
    border-radius: 10px;
}
.habilidades .images img:nth-child(4) {
    width: 50px;
}
.habilidades .images img:nth-child(5) {
    width: 50px;
    background-color: white;
    border-radius: 10px;
}

/* Estilos para los certificados */
.cert-header {
    color: var(--blanco);
    text-align: center;
    border-bottom: 1px solid var(--header-list);
    margin-top: 50px;
    margin-bottom: 20px;
}
.certificados .card a img {
    width: 100%;
    transition: .5s ease;
    border-radius: 8px;
}
.certificados .card a img:hover {
    transform: scale(1.1);
}

/* Estilos para el formulario de contacto y footer */
footer {
    margin-top: 50px;
    background: var(--header-border);
    padding-top: 50px;
}
.container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer-content {
    width: 33.3%;
    text-align: center;
}
.footer h3 {
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}
.footer-content p {
    color: var(--blanco);
    width: 190px;
    margin: auto;
    padding: 7px;
}
.footer-content a {
    color: var(--blanco);
}
.footer-content ul {
    text-align: center;
}
.list {
    padding: 0;
}
.list li {
    width: auto;
    text-align: center;
    list-style: none;
    padding: 7px;
    position: relative;
}
.list li::before {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: var(--azul);
    transition: .5s ease;
}
.list li:hover::before {
    width: 70px;
}
.social-icons {
    text-align: center;
    padding: 0;
}
.social-icons li {
    list-style: none;
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i {
    color: white;
    font-size: 25px;
}
footer h3 {
    color: var(--header-list);
    
}
footer a {
    text-decoration: none;
}
footer a:hover {
    color: var(--azul);
}
.social-icons i:hover {
    color: var(--azul);
}
.bottom-bar {
    background: var(--header-border);
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
    border-top: 1px solid var(--background-color);
}
.bottom-bar p {
    color: var(--header-list);
    margin: 0;
    font-size: 16px;
    padding: 7px;
}
.bottom-bar a {
    color: var(--azul);
    transition: .5s ease;
}
.bottom-bar a:hover {
    color: var(--blanco);
}
@media screen and (max-width: 600px) {
    header {
        font-size: 12px;
    }
    .container {
        display: block;
    }
    .footer-content {
        margin-bottom: 50px;
    }
    .nombre-disponibilidad h4 {
        font-size: 12px;
    }
}