:root {
    --background-color: #3c4043;
    --back: #fff;
    --header-list: #a8a58e;
    --header-border: #203031;

    --blanco: white;
    --azul: #81b1b3;
}

/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilos para el body */
body {
    font-family: Lato,Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 16px;
    background: linear-gradient(var(--header-list), #f4d4af);
    display: grid;
    place-items: center;
    position: relative;
    padding: 60px 0 40px;
    color: #555;
}

/* Estilos para el header */
.presentacion {
    color: #fff;
    text-align: center;
}
.presentacion h1 {
    font-size: 63px;
}
.presentacion h1, .presentacion h3 {
    margin-top: 20px;
    margin-bottom: 12px;
    font-weight: 400;
    line-height: 1.1;
}
.icons a {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    color: #fff;
    padding: 20px;
}
.icons a i {
    display: inline-block;
    text-align: center;
}
.icons a:nth-child(1):hover {
    color: rgb(0, 102, 255);
}
.icons a:nth-child(2):hover {
    color: rgb(0, 255, 55);
}


/* Contenedor principal */
.main-container {
    padding: 4rem;
    font-size: 16px;
    line-height: 1.58;
}
.container {
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
    padding: 4rem;
    margin-bottom: 30px;
}
.sobre-mi {
    padding-bottom: 150px;
}
.sobre-mi .work, .sobre-mi .dwl {
    cursor: pointer;
    padding: 10px 32px;
    font-weight: bold;
    position: relative;
    border-radius: 10px;
    margin-bottom: 10px;
    color: black;
    background: transparent;
    transition: .3s ease;
}
.sobre-mi .work {
    border: 1px solid #81b1b3;
}
.sobre-mi .work i {
    color: #81b1b3;
    margin-right: 5px;
}
.sobre-mi .work:hover {
    background: #d7edee;
}
.sobre-mi .dwl {
    border: 1px solid #555;
}
.sobre-mi .dwl:hover {
    background: #e2e1e1;
}
.sobre-mi .dwl i {
    color: #555;
    margin-right: 5px;
}
.container-header {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 27px;
}
.imagen {
    display: block;
    height: auto;
    float: left;
    margin-right: 20px;
}
.imagen img {
    max-width: 200px;
    width: 100%;
}
.descripcion {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
@media screen and (max-width: 700px) {
    .imagen {
        text-align: center;
        float: none;
        margin-bottom: 40px;
    }
    .sobre-mi {
        padding-bottom: 50px;
    }
}
.descripcion p {
    margin: 0 0 12px;
}

/* Proyectos */
.contenido-proyectos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 32px;
}
.card {
    margin-bottom: 30px;
}
.card img {
    width: 100%;
}
.card h4 {
    font-weight: lighter;
    margin-bottom: 5px;
}
.card i {
    font-size: 25px;
}
.fa-html5 {
    color: rgb(255, 51, 0);
}
.fa-css {
    color: rgb(0, 89, 255);
}
.fa-js {
    color: rgb(255, 196, 0);
}
.fa-php {
    color: rgb(0, 89, 255);
}
.fa-database {
    color: rgb(4, 0, 255);
}
br {
    margin-bottom: 15px;
}
.card a {
    color: #4882a8;
    background: transparent;
    border: 1px solid #4885a8;
    padding: 15px 15px 10px;
    border-radius: 10px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    transition: .3s ease;
}
.card a:hover {
     background: #d7edee;
}
.fa-link {
    margin-right: 10px;
}


/* Habilidades */
.habilidades {
    text-align: center;
}
.habilidades header {
    text-align: left;
}
.habilidades i {
    font-size: 50px;
    margin: 20px;
}


/* Footer */
footer .icons {
    text-align: center;
}
footer .icons a {
    color: #555;
}
