* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: #0F090B;
    font-family: sans-serif;
}
.main-content {
    margin-top: 10px;
    display: grid;
    place-content: center;
}
.calculator {
    border: 1px solid black;
    height: 100%;
    max-width: 500px;
    width: 100%;
    background: #362828;
    border-radius: 10px;
    border: 5px solid #6E4829;
}

#result {
    text-align: right;
    margin: 20px;
    padding: 10px;
    background: #C5C0A9;
    border-style: inset;
    font-size: 28px;
    border-radius: 10px;
}

button {
    font-size: 20px;
    font-weight: normal;
    color: white;
    width: 90px;
    height: 90px;
    border-radius: 20px;
    border-style: outset;
    border-right-color: #AA895F;
    border-top-color: #AA895F;
    border-left-color: #AA895F;
    border-bottom-color: #AA895F;
    border-width: 5px;
    margin: 5px;
    background: linear-gradient(50deg, #6E4829, #8F6F56);

    &:active {
        border-style: inset;
        border-right-color: #6E4829;
        border-top-color: #6E4829;
        border-left-color: #6E4829;
        border-bottom-color: #6E4829;
        height: 85px;
        background: linear-gradient(50deg, #6e48297a, #8f6f5680);
        
    }
}

@media (max-width: 500px) {
    button {
        width: 60px;
        height: 60px;

        &:active {
            height: 60px;
        }
    }
}